n8n/workflows/workflow7-fd-historical.json
{
  "name": "7 — fd-historical (H2H için)",
  "nodes": [
    {
      "parameters": {},
      "id": "cb73124b-4302-4f63-8aa5-93abaf3bddc5",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Football-Data.org competition listesi (current season default)\n// Her biri /v4/competitions/{id}/matches ile o ligin tüm current sezonunu çeker.\n// FD free tier sadece current season'a izin verir; multi-season paid tier gerek.\n\nconst competitions = [\n  { id: 2021, name: 'Premier League' },\n  { id: 2014, name: 'La Liga' },\n  { id: 2019, name: 'Serie A' },\n  { id: 2002, name: 'Bundesliga' },\n  { id: 2015, name: 'Ligue 1' },\n  { id: 2003, name: 'Eredivisie' },\n  { id: 2017, name: 'Primeira Liga' },\n  { id: 2013, name: 'Brasileirão' },\n  { id: 2016, name: 'Championship' },\n  { id: 2152, name: 'Copa Libertadores' },\n  { id: 2001, name: 'UEFA Champions League' },\n];\n\nreturn competitions.map(c => ({ json: { competition_id: c.id, name: c.name } }));\n"
      },
      "id": "929678d6-d35a-4661-87b5-7c473a4fd298",
      "name": "FD Competition Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.football-data.org/v4/competitions/{{ $json.competition_id }}/matches",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 7000
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "={{ $env.FOOTBALL_DATA_API_KEY }}"
            }
          ]
        }
      },
      "id": "be6dae68-9ba8-448f-90ad-c9ea7366ea7c",
      "name": "Get Competition Season",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Football-Data.org /v4/matches yanıtını leagues/teams/fixtures'a böl\n// Birden çok input item gelebilir (chunked date ranges) — hepsini birleştir\nconst matches = [];\nfor (const item of $input.all()) {\n  const ms = (item.json && item.json.matches) || [];\n  for (const m of ms) matches.push(m);\n}\nconst leaguesMap = new Map();\nconst teamsMap = new Map();\nconst fixturesMap = new Map();   // id ile dedupe (chunk'lar çakışırsa)\n\nconst statusMap = {\n  SCHEDULED: 'SCHEDULED', TIMED: 'SCHEDULED',\n  LIVE: 'LIVE', IN_PLAY: 'LIVE', PAUSED: 'LIVE',\n  FINISHED: 'FINISHED', AWARDED: 'FINISHED',\n  POSTPONED: 'POSTPONED', SUSPENDED: 'POSTPONED', CANCELLED: 'POSTPONED'\n};\n\nconst now = new Date().toISOString();\n\nfor (const m of matches) {\n  const c = m.competition || {};\n  const home = m.homeTeam || {};\n  const away = m.awayTeam || {};\n  if (!c.id || !home.id || !away.id) continue;\n\n  const seasonYear = (m.season && m.season.startDate) ? parseInt(m.season.startDate.slice(0,4)) : null;\n\n  if (!leaguesMap.has(c.id)) {\n    leaguesMap.set(c.id, {\n      id: c.id,\n      name: c.name,\n      country: (c.area && c.area.name) || null,\n      logo: c.emblem || null,\n      season: seasonYear,\n      source: 'football-data',\n      updated_at: now\n    });\n  }\n\n  for (const t of [home, away]) {\n    if (!teamsMap.has(t.id)) {\n      teamsMap.set(t.id, {\n        id: t.id,\n        name: t.name,\n        short_name: t.shortName || t.tla || null,\n        logo: t.crest || null,\n        country: (c.area && c.area.name) || null,\n        league_id: c.id,\n        updated_at: now\n      });\n    }\n  }\n\n  const ft = (m.score && m.score.fullTime) || {};\n  fixturesMap.set(m.id, {\n    id: m.id,\n    league_id: c.id,\n    season: seasonYear,\n    utc_date: m.utcDate,\n    status: statusMap[m.status] || 'SCHEDULED',\n    home_team_id: home.id,\n    away_team_id: away.id,\n    home_goals: (ft.home === undefined ? null : ft.home),\n    away_goals: (ft.away === undefined ? null : ft.away),\n    venue: m.venue || null,\n    source: 'football-data',\n    updated_at: now\n  });\n}\n\nconst fixtures = Array.from(fixturesMap.values());\nreturn [{ json: {\n  leagues: Array.from(leaguesMap.values()),\n  teams: Array.from(teamsMap.values()),\n  fixtures: fixtures,\n  count: fixtures.length\n}}];\n"
      },
      "id": "d11725d5-a670-411d-91e8-8095fadf974b",
      "name": "Transform FD Multi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leagues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.leagues }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "04082df5-c70d-467b-bff1-294e6013ba5f",
      "name": "Upsert Leagues (FD hist)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/teams",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Transform FD Multi').first().json.teams }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9c288d65-5cae-4ff7-8887-e16dd6ad936a",
      "name": "Upsert Teams (FD hist)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/fixtures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Transform FD Multi').first().json.fixtures }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "42b5c8c8-2182-49ce-8bba-63430cfe3e14",
      "name": "Upsert Fixtures (FD hist)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "FD Competition Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FD Competition Array": {
      "main": [
        [
          {
            "node": "Get Competition Season",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Competition Season": {
      "main": [
        [
          {
            "node": "Transform FD Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform FD Multi": {
      "main": [
        [
          {
            "node": "Upsert Leagues (FD hist)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Leagues (FD hist)": {
      "main": [
        [
          {
            "node": "Upsert Teams (FD hist)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Teams (FD hist)": {
      "main": [
        [
          {
            "node": "Upsert Fixtures (FD hist)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e44049c-3435-4b4c-80c8-1e6bca9d1465",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "futbol-tahmin"
    }
  ]
}