n8n/workflows/workflow2-team-stats-rebuild.json
{
  "name": "2 — team-stats-rebuild",
  "nodes": [
    {
      "parameters": {},
      "id": "2edc7be6-1786-4abc-a5a5-bdbd8524a2e6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "f8bc5acb-564a-48fc-99fd-cd2810e05db0",
      "name": "Schedule 04:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/fixtures?select=id,league_id,utc_date,status,home_team_id,away_team_id,home_goals,away_goals&status=eq.FINISHED&utc_date=gte.{{ $now.minus({days: 30}).toUTC().toISO() }}&order=utc_date.asc&limit=10000",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "67e3312c-51b9-4cdd-9028-38100008d5e4",
      "name": "Get Last 30d Fixtures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Son 30 günün bitmiş maçlarından her takımın istatistiğini çıkar\n// n8n HTTP Request node, Supabase'in array yanıtını otomatik olarak\n// her satırı ayrı item yapacak şekilde açabilir. İki durumu da handle et:\n//   - 1 item gelir, json bir array (eski davranış)\n//   - N item gelir, her item.json tek bir fixture (n8n yeni davranış)\nconst items = $input.all();\nlet arr = [];\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  arr = items[0].json;\n} else {\n  arr = items.map(i => i.json);\n}\nconst stats = new Map();\n\nconst get = (id, lid) => {\n  if (!stats.has(id)) stats.set(id, {\n    team_id: id, league_id: lid,\n    matches_played: 0,\n    home_matches: 0, away_matches: 0,\n    home_scored: 0, home_conceded: 0,\n    away_scored: 0, away_conceded: 0,\n    total_scored: 0, total_conceded: 0,\n    last_results: []\n  });\n  return stats.get(id);\n};\n\n// Tarihe göre eski → yeni sıralanmış olmasını bekliyoruz (REST order=utc_date.asc)\nfor (const m of arr) {\n  if (m.status !== 'FINISHED') continue;\n  if (m.home_goals == null || m.away_goals == null) continue;\n\n  const h = get(m.home_team_id, m.league_id);\n  const a = get(m.away_team_id, m.league_id);\n\n  h.matches_played++; a.matches_played++;\n  h.home_matches++; a.away_matches++;\n  h.home_scored += m.home_goals;  h.home_conceded += m.away_goals;\n  a.away_scored += m.away_goals;  a.away_conceded += m.home_goals;\n  h.total_scored += m.home_goals; h.total_conceded += m.away_goals;\n  a.total_scored += m.away_goals; a.total_conceded += m.home_goals;\n\n  let hr, ar;\n  if (m.home_goals > m.away_goals)      { hr = 'W'; ar = 'L'; }\n  else if (m.home_goals < m.away_goals) { hr = 'L'; ar = 'W'; }\n  else                                  { hr = 'D'; ar = 'D'; }\n  h.last_results.push(hr);\n  a.last_results.push(ar);\n}\n\nconst out = [];\nconst now = new Date().toISOString();\nfor (const s of stats.values()) {\n  if (s.matches_played === 0) continue;\n  const last5 = s.last_results.slice(-5).join('');\n  out.push({\n    team_id: s.team_id,\n    league_id: s.league_id,\n    matches_played: s.matches_played,\n    goals_scored_avg:   +(s.total_scored / s.matches_played).toFixed(2),\n    goals_conceded_avg: +(s.total_conceded / s.matches_played).toFixed(2),\n    home_scored_avg:    s.home_matches ? +(s.home_scored / s.home_matches).toFixed(2)   : 0,\n    home_conceded_avg:  s.home_matches ? +(s.home_conceded / s.home_matches).toFixed(2) : 0,\n    away_scored_avg:    s.away_matches ? +(s.away_scored / s.away_matches).toFixed(2)   : 0,\n    away_conceded_avg:  s.away_matches ? +(s.away_conceded / s.away_matches).toFixed(2) : 0,\n    form: last5,\n    updated_at: now\n  });\n}\n\nreturn [{ json: { team_stats: out, count: out.length } }];\n"
      },
      "id": "55774a73-b2bb-4b1b-86cd-0adb9b765b07",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/team_stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.team_stats }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2f9d0abc-e072-4b7b-b180-460da4f87454",
      "name": "Upsert Team Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Last 30d Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 04:00": {
      "main": [
        [
          {
            "node": "Get Last 30d Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last 30d Fixtures": {
      "main": [
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stats": {
      "main": [
        [
          {
            "node": "Upsert Team Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4b22148-4eb4-406b-8a45-130e098e57e2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "futbol-tahmin"
    }
  ]
}